<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LMInputViewToolBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9471D2711F29CF020086EAED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9471D28A1F29CF020086EAED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9471D2951F29CF020086EAED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
